body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}

#ttt-grid {
    width: 400px;
    height: 400px;

    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
    border-radius: 40px;

    background-color: black;
}

#ttt-grid > button {
    border-radius: 30px;
    font-size: 100px;
    font-weight: bold;
}

dialog {
    width: 400px;
    height: 400px;
    border-radius: 30px;

}

dialog > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


dialog > div > button {
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 22px;
    border-radius: 15px;
    align-self: center;
    margin-top: 30px;
}

dialog > div > h1 {
    align-self: center;
}

dialog > div > div > label {
    font-size: 32px;
    font-weight: bold;
}

dialog > div > div > input {
    height: 32px;
}

dialog > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

dialog > div > p {
    align-self: center;
    font-size: 32px;
}


